@{
    ViewData["Title"] = "Home Page";
}




    <style>
        #i {
            background-color: black;
            color: grey;
            padding: 20px 0px 20px 0px;
            /*width: 700px;
            height: 180px;*/
            box-shadow: 0 -1px 2px inset;
            border-radius: 25px;
            /*margin-left: 180px;*/
            margin-top: 30px;
        }
        #cc{

        }
        
    </style>
    <body>
        <div class="container">
            <div class="row">

                <div class="col-lg-10 col-lg-offset-1">
                    <form id="i" align="center" action="/action_page.php" method="get">
                        <p>
                            From:
                            <input id="fromcity" list="cities" name="fromcity" />
                            <datalist id="cities">
                                <option value="Lviv" />
                                <option value="Kyiv" />
                                <option value="Odesa" />
                                <option value="Dnipro" />
                                <option value="Vinnytsia" />
                            </datalist>
                            &emsp;To:
                            <input list="cities" name="tocity" />
                            <datalist id="cities">
                                <option value="Lviv" />
                                <option value="Kyiv" />
                                <option value="Odesa" />
                                <option value="Dnipro" />
                                <option value="Vinnytsia" />
                            </datalist>

                            <!-- <script>
                            var today = new Date();
                            var dd = today.getDate();
                            var mm = today.getMonth() + 1;
                            var yyyy = today.getFullYear();
                            if (dd < 10) {
                                dd = '0' + dd
                            }
                            if (mm < 10) {
                                mm = '0' + mm
                            }

                            today = yyyy + '-' + mm + '-' + dd;
                            document.getElementById("datefield").setAttribute("value", today);
                        </script>-->
                            &emsp;Date:
                            <input id="datefield" type='date' value="2019-05-09" min='2019-05-09' max='2020-10-13' />
                        </p>
                        <br>
                        <input onclick="" type="submit" value="Search" />
                    </form>

                </div>

            </div>
        </div>
      
       





    @*<div id="cc" class="container">
        <div class="row">
            <div class="col-lg-2">
                Train number
            </div>
            <div class="col-lg-2">
                From/To
            </div>
            <div class="col-lg-2">
                Date
            </div>
            <div class="col-lg-2">
                Departure/Arrival
            </div>
            <div class="col-lg-2">
                Duration
            </div>
            <div class="col-lg-2">
                Seats available
            </div>
        </div>
    </div>*@
}
        

    </body>